body{
    margin: 0px;
    padding: 0px;
}
.parent-1{
    display: flex;
    width: 80%;
    margin: auto;
}
.child-1{
    margin-top: 80px;
    width:70%;
}
.child-2{
    width: 50%;
}
.child-2 img{
    margin-left: 80px;
    width: 100%;
}
.focuse-div{
    padding-left: 7px;
    border-left: 5px solid rgb(90, 6, 175);
    border-top-left-radius:16px;
}
